[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = ">=2.8.2"
requests = ">=2.26.0"
typing-extensions = ">=4.0.1"
pyemvue = {file = ".", editable = true}
setuptools = "*"
wheel = "*"
mypy = "*"
pycognito = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
